.table-input-number {
  width: 80px;
}

.page-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

.dice {
  margin-top: 4em;
  margin-bottom: 4em;
}

.continue {
  margin-top: 2em;
  margin-bottom: 3em;
}

.store {
  margin-top: 3em;
}

.purchase-button {
  margin-bottom: 0.6em;
}